{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Select Your Photos</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <script type="text/javascript">
    function openPopup(url) {
        var w = 700;
        var h = 500;
        var left = 100;
        var top = 100;

        var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
        url += "?next={% url 'login_popup_close' %}";

        window.open(url, name, settings)
    }

    </script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid menu-fluid-c">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color: #5cb85c; font-size: 25px; text-shadow: 0px 1px 1px;"><b>MAGNISIO</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">About</a></li>
            <li class="active"><a href="./">Contacs</a></li>
            <li><a href="../navbar-fixed-top/">Blog</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

   
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Local</a></li>
            <li class="active"><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">VK.com</a></li>
            <li><a href="#">Dropbox</a></li>
          </ul>

          <ul class="nav nav-sidebar">
          </ul>

          <div class="overall">
             <table class="table">
                <tbody>
                  <tr class="success">
                    <td><b>Items:</b></td>
                    <td class="amount">0</td>
                  </tr>
                  <tr class="success">
                    <td><b>Price:</b></td>
                    <td class="prvice">1.59 $</td>
                  </tr>
                  <tr class="success">
                    <td><b>Delivery:</b></td>
                    <td class="delivery">0.99 $</td>
                  </tr>
                  <tr class="success">
                    <td ><b>Tottal:</b></td>
                    <td class="tottal">0.00 $</td>
                  </tr>
                </tbody>
            </table>
          </div>
          <button class="btn-checkout center-block btn btn-lg btn-success">CHECKOUT</button>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {% if not view.request.user.is_authenticated %}
        <h4 class="page-header">Connect your instagram to choos your photos</h4>
        <center>
            {% with social_auth.backends.oauth2|first as first_name %}
              <a rel="nofollow"  class="btn btn-primary btn-lg active" role="button" href="javascript:openPopup('{% url "socialauth_begin" first_name %}');">Connect {{ first_name|title }}</a>
            {% endwith %}
        </center>
        {% else %}
          <h4 class="page-header">Your Instagram Photos</h4>
          {% for photo in photos %}
             <div class="img-thumbnail photo" id='{{photo.id}}'><div class='glyphicon glyphicon-ok'></div><div class="overlay"></div><img src='{{photo.images.standard_resolution.url}}'></div>
          {% endfor %}
          <br><br>
           <h4 class="page-header">Photos That you like</h4>
          {% for photo in liked_photos %}
            <div class="img-thumbnail photo" id='{{photo.id}}'><div class='glyphicon glyphicon-ok'></div><div class="overlay"></div><img src='{{photo.images.standard_resolution.url}}'></div>
          {% endfor %}
        {% endif %}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <script src="/static/js/choose_photos.js"></script>
  </body>
</html>
