/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 90px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}

.menu-fluid-c {
  padding-right: 25px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428D6D;
}

.photo {
  display: inline-block;
  cursor: pointer;
  margin:15px;
  -moz-box-shadow:    2px 3px 32px 2px #ccc;
  -webkit-box-shadow: 2px 3px 32px 2px #ccc;
  box-shadow:         2px 3px 32px 2px #ccc;
  position: relative;
}

.photo img {
  width: 200px;
  height: 200px;
}

div.glyphicon-ok {
      position: absolute;
      font-size: 13.5em;
      color: #5cb85c;
      display:none;
      z-index: 1000;
    }

.selected .glyphicon-ok {
    display: inline;
}

.overlay {
  width: 200px;
  height: 200px;
  background-color: black;
  position: absolute;
  opacity:0.4;
  filter:alpha(opacity=40);
  display:none;
}

.selected .overlay {
    display: inline;
}

.overall {
    color: #555;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -21px;
    margin-bottom: 20px;
    font-size: 18px;
}

.overall .table {
  margin-bottom: 0;
}

.overall {
   cursor: pointer;
}
