.navbar {
	margin-bottom: 0;
}

  .carousel-inner > .item > .carousel-image {
      width: 100%;
      height: auto; 
    }

/* Smartphones (landscape) ----------- */
@media only screen  and (min-width : 321px) {
        .carousel-inner > .item {
            height: 150px; 
      }

      .carousel {
          height: 150px;
      }
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
        .carousel-inner > .item {
            height: 150px; 
      }

      .carousel {
          height: 150px;
      }
}


@media(max-width:767px){
        .carousel-inner > .item {
            height: 200px; 
      }

      .carousel {
          height: 200px;
      }
}
@media(min-width:768px){
        .carousel-inner > .item {
            height: 250px; 
      }

      .carousel {
          height: 250px;
      }
}
@media(min-width:992px){
        .carousel-inner > .item {
            height: 350px; 
      }

      .carousel {
          height: 350px;
      }
}
@media(min-width:1200px){
        .carousel-inner > .item {
            height: 430px; 
      }

      .carousel {
          height: 430px;
      }
}

.featurette-heading {
   color: #95B300;
}

.featurette-heading > span.text-muted {
  color: #7AB300;
}