   {% load staticfiles %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        <img src="{% static '/static/img/carusel1.jpg' %}" class="carousel-image" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Example headline.</h1>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static '/static/img/carusel2.jpg' %}" class="carousel-image" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Another example headline.</h1> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" class="carousel-image" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>One more for good measure.</h1> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>