    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: #5cb85c; font-size: 25px; text-shadow: 0px 1px 1px #555;"><b>MAGNISIO</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="/dash/">Select Photos</a></li>
            <li><a href="../navbar/">About</a></li>
            <li class="active"><a href="./">Contacs</a></li>
            <li><a href="../navbar-fixed-top/">Blog</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>